.page-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
    height: calc(100vh - 64px);
    margin-left: 37vw;
  }
  .colorGray {
    color: gray;
  }
  .inputArea {
    display: flex;
    flex-direction: column;
  }